body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  font-style: "regular";
  font-weight: 400;
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tungsten Bold";
  font-style: "bold";
  font-weight: 400;
  src: url("./assets/fonts/Tungsten/Tungsten-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Tungsten Semi-Bold";
  font-style: "bold";
  font-weight: 400;
  src: url("./assets/fonts/Tungsten/Tungsten-Semibold.otf") format("truetype");
}

code {
  font-family: "Tungsten Semi-Bold";
}
